<article class="my-5 border-none mx-10 mt-10">
{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 h-30"></textarea>
  </div>

  <div>
    <button type="submit"  class="bg-blue-500 hover: bg-blue-400 text-white fond-bold py-2 px-4 w-full rounded my-1">Add Comment</button>

  </div>
</form>
{{/if}}
<article>
<h2>All Comments</h2>
{{> comments post.comments}}
</article>

</article>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}